.row>* {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.container-list-car {
    width: 1100px;
    background-color: #e5e5e5;
    padding-left: 25px;
    padding-top: 27px;
    padding-right: 24px;
    margin: auto;
}

.container-list-car .btn-group button {
    font-size: 14px;
}

span.list-car {
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
    margin-top: 27px;
}

.form-head {
    margin-top: 120px;
    padding-left: 55px !important;
    padding-right: 55px !important;
}

.form-head h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */


    color: #000000;
    margin-top: 24px;
}

.form-content {
    padding-left: 55px !important;
    padding-right: 55px !important;
}

.form-content button {
    width: 100%;
    background: #0D28A6;
    border-radius: 2px;
    margin-top: 16px;
}

.form-content label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    color: #222222;
}

.form-content input {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
}

/* Kelompok 3 */

body {
    font-family: Hevetica;
    font-size: 14px;
    font-weight: lighter;
}

thead {
    background: #CFD4ED;
}

.drop .form-select {
    width: 62px;
    height: 36px;
    font-size: 12px;
}

.jtp .form-select {
    width: 76px;
    height: 36px;
    font-size: 12px;
}

.paging nav {
    display: flex;
    justify-content: flex-end;
}

a.page-link {
    height: 38px;
    width: 38px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #8A8A8A;
}

.page-item.active .page-link {
    background: #CFD4ED;
    color: #0D28A6;
    border-color: #0D28A6;
}

.form-select {
    display: inline;
}

.btn-go {
    display: inline;
    background: #0D28A6;
    color: #fff;
    width: 43px;
    height: 36px;
}

/* END Kelompok 3 */