/** @format */

body {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: lighter;
}

.content-section {
  margin-left: 50px;
  margin-top: 100px;
}

/* navbar */
.navbar-section {
  position: fixed;
  right: 0;
  top: 0;
}

.navbar {
  background-color: white;
  height: 70px;
  width: 100vw;
}

.collapseSidebar {
  display: none;
}

.main-menu {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #0d28a6;
  width: 70px;
  height: 100vh;
  color: white !important;
  font-size: 12px;
}

.main-menu a,
.main-menu a:hover {
  color: white !important;
  text-decoration: none;
}

.box {
  height: 70px;
}

.box:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.side-icon {
  width: 30px;
}

.menu-list {
  position: fixed;
  top: 70px;
  left: 70px;
  width: 220px;
  height: 100vh;
  background-color: white;
}

.list-menu {
  font-weight: 700;
  padding: 12px 18px;
}

.list-menu:hover {
  background-color: #cfd4ed;
}

.menu-list a {
  color: black;
  text-decoration: none;
}

/* end navbar */

/* login */
.row > * {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.login .content {
  align-items: center;
}
.form-head h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.form-content label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
}

.form-content input {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
  width: 370px;
}
.form-content .btn-primary {
  background: #0d28a6;
  color: #fff;
  width: 370px;
  height: 36px;
}

/* end login */
